@model List<Castalia.Domain.Entities.Teacher>
<h3>Available teachers:</h3>

@foreach (var teacher in Model)
{
    <p class="card-text">@Html.ActionLink(teacher.TeacherName, "AppointTeacher","Admin", new { id = ViewBag.Id, teacherId = teacher.Id },null) </p>
}
