@model Castalia.WEB.Models.LearnerListViewModel
@{
    ViewBag.Title = "Learner List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="secondaryContainer">
    <h2>LearnerList</h2>

    @Html.AntiForgeryToken()

    <div class="row">
        @foreach (var item in Model.Learners)
        {
            <section class="card border-primary m-3 col-5" style="max-width: 20rem;">
                <header class="card-header"><h4>@item.LearnerName</h4></header>
                <div class="card-body">
                    Status:
                    @if (item.IsBlocked)
                    {<p>Student is blocked</p>}
                    else
                    { <p>Student isn`t blocked</p>}
                    <p class="card-text">
                        @Html.ActionLink(item.IsBlocked ? "Unblock him" : "Block him", "ManagingStudents",
                   new { Id = item.Id ,page=Model.PagingInfo.CurrentPage})
                    </p>
                </div>
            </section>
        }
    </div>
</div>
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("LearnerList",
   new { page = x}))
</div>
