@model string
@{
    Layout = null;
    ViewBag.Title = "Something goes wrong!";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Something goes wrong</h2>
    <p class="text-warning">You  @Model, don`t finish registration!</p>
    <p>Please,confirm your full name to continue work.</p>
    <div>
        @Html.ActionLink("Confirm if!", "Index", "SelfCabinet", null,null)
    </div>
</body>
</html>

