@model IEnumerable<string>
<h4>
    By Teacher:
</h4>

@foreach (var link in Model)
{
    @Html.RouteLink(link, new
{
    controller = "Home",
    action = "SelectionByTeacher",
    sortingParam = link,
    page = 1
}, new
{
    @class = "btn btn-block btn-primary btn-lg custom" + (link == ViewBag.SelectedTeacher ? " btn-warning " : "")
})
}
